
.container {
    position:relative; 
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    width: 100%;
    /*padding:10 0 0 60px;*/
}

/*
.gradpanel {
    position:absolute;
    border:1px solid #000;
    height:500px; 
    width:190px;
    left: 970px;
    top: 115px;
    bottom: 50px;
}
*/

.header {
    background: #FF7F50;
    height:50px;
    margin: 0;
    font-size: 35px;
    text-align: left;
}

.content {
    /*border:1px solid #000;*/ 
    /*width:950px;*/
    width:1145px;
    height:500px;
    margin:5px 0 5px 0;
    background-color: #F5F5F5;
}





body {
    margin: 0;
    float:left;
    padding:15px 0;
    width:100%;
}

p1 {
    color: white;
    padding-left: 20px;
    font-style: 'Poiret+One', sans-serif;
}

.NUSACP-brand {
    color: white;
}

.input-group {
    margin-top: 8px;
    width: 400px;
}



.footer {
    background: #696969;
}

.col-sm-4 {
    background-color: transparent;
}







.infowindow {
    background-color: white;
    padding-top: 200px;
    border: 2px solid #FF7F50;
    height: auto;
    width: auto;
}

.col-sm-4 {
    table-layout: auto;
}

progress {
    width: 200px;
}





.requirementUEM {
    
}

.progUpdates {
    position:absolute;
    border:1px solid #000;
    height:20px; 
    width:135px;
    left: 230px;
    top: 85px;
    bottom: 0px;
}

.progBars {
    width: 210px;
}

#progUpdate_ULR {
    position:absolute;
   /* border:1px solid #000;*/
    height:20px; 
    width:135px;
    left: 230px;
    top: 85px;
    bottom: 0px;
}

#progUpdate_FR {
    position:absolute;
   /* border:1px solid #000;*/
    height:20px; 
    width:135px;
    left: 230px;
    top: 132.5px;
    bottom: 0px;
}

#progUpdate_MR {
    position:absolute;
    /*border:1px solid #000;*/
    height:20px; 
    width:135px;
    left: 230px;
    top: 180.5px;
    bottom: 0px;
}

#progUpdate_UEM {
    position:absolute;
    /*border:1px solid #000;*/
    height:20px; 
    width:135px;
    left: 230px;
    top: 230px;
    bottom: 0px;
}